*{ 
padding: 0;
margin: 0;}
body{
    background-image: url(img/wall4.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
   

}

/*header*/

header{
    background-color: rgb(169,169,169,0.2);
    margin-bottom: 10px;
    padding: 25px 0;

}
header .container img{
    width: 100px;
    height: 100px;
}

header .container h1{
    margin-top: 15px;
    font-weight: none;
    font-size: 50px;
    font-family: 'economica', sans-serif;
    color: #fff;
}

/*do dyeon
Righteous

Orbitron
economica
*/

/*end header---------------------*/


/*Icons e barra----------------------------------*/
.sub-icon{
  width: 75px;
  height: 75px;
    /*btn-custom*/
  border: 2px solid ;
  border-radius: 360px;
  color: rgb(50,50,50);
  background-color: #fff;
  border-color:rgb(50,50,50);
margin:0 55% 0 45%;
  
}
.icone{
    position: absolute;
    margin-top: -70px;
    left: 20px;
}
.botao{
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
    
    
 color: #fff;
  background-color: rgb(169,169,169,0.7)    ;
  border-color: yellow;    
}
.barra{
  width: 100%;
  height: 35px;
  font-size: 12px;
  line-height: 25px;
  color: #fff;
  text-align: right;
  background-color: rgb(855,855,0,0.2);
    margin: 5px 0;
    border-radius: 3px;
}
.porcentagem{
    width:0;
    font-weight: bold;
    border-radius: 3px;
    font-family: 'economica',sans-serif;
    font-size: 25px;
    padding: 5px  5px 0 0;
    height:35px;
    background-color: rgb(855,855,0,0.7);
}


/*Blocos -----------------------*/
.blocos{
    padding: 50px 10px 0 20px;
    height: 350px;
    width: 100%;
    background-color: rgb(112,128,144,0.1);
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(112,128,144,0.6);
    
 /*
    border-radius: 5px;
    border: 1px blue;
    border-style: outset inset outset  inset;
   */   
}
.blocos p{
        font-family: 'Source Sans Pro', sans-serif;
        text-align: justify;
        color: #fff;
}
.btn-info{
    background-color: gray;
}
#open p{
    margin: 5px 0 20px 15px;
    font-size: 22px;
    opacity: 0.8;
    border: inset  #d0d0d0;
    border-width: 0 0 1px 0;
}
#skills{
    margin-top: 80px;
    height: 700px;

}
.fa-arrow-circle-right{
    margin: 8px 0 63px 0;
    color:#2e6da4;
}
p[target="em"]{
    font-weight: bold;
    color: #303030;
    font-size:18px;
}





/*footer---------------------------*/
footer{
    background-color: none;
}





/*MEDIAS */
@media (max-width: 575.98px) { 

 p[target="em"]{
    font-size:20px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 


 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
