*{ 
padding: 0;
margin: 0;}

.padrao{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    
}
#corpo{
    -webkit-transition: background 2.5s;
    -moz-transition: background 2.5s;
    -o-transition: background 2.5s;
		transition: background 2.5s;
}


/* ==========================================================================
  			ANIMACOES
   ========================================================================== */


/*mobile*/
@-webkit-keyframes mobile{
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
     -webkit-transform: translate3d(25px, 0, 0);
  }

  75% {
     -webkit-transform: translate3d(-10px, 0, 0);
  }

  90% {
     -webkit-transform: translate3d(5px, 0, 0);
  }

  to {
     -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes mobile{
    0% {
    opacity: 0;
    -moz-transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -moz-transform: translate3d(25px, 0, 0);
  }

  75% {
    -moz-transform: translate3d(-10px, 0, 0);
  }

  90% {
    -moz-transform: translate3d(5px, 0, 0);
  }

  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes mobile{
    0% {
    opacity: 0;
    -o-transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -o-transform: translate3d(25px, 0, 0);
  }

  75% {
    -o-transform: translate3d(-10px, 0, 0);
  }

  90% {
    -o-transform: translate3d(5px, 0, 0);
  }

  to {
    -o-transform: translate3d(0, 0, 0);
  }
}
@keyframes mobile{
    0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.mobile{
    -webkit-animation: mobile 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: mobile 1.5s;
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation: mobile 1.5s;
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: mobile 1.5s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}


/*Slider*/
@-webkit-keyframes slide {
	
		20%, 50%{
				-webkit-transform: translateX(0); 
		}
		
		70%, 100% {
		-webkit-transform: translateX(-100%);
			
	}    
}
@-moz-keyframes slide {
	
		20%, 50%{
				-moz-transform: translateX(0); 
		}
		
		70%, 100% {
		-moz-transform: translateX(-100%);
			
	}    
}
@-o-keyframes slide {
	
		20%, 50%{
				-o-transform: translateX(0); 
		}
		
		70%, 100% {
		-o-transform: translateX(-100%);
			
	}    
}
@keyframes slide {
	
		20%, 50%{
				transform: translateX(0); 
		}
		
		70%, 100% {
		transform: translateX(-100%);
			
	}    
}

.slider {
	position: relative;
	height: 250px;
	width: 100%;
	background-color:  rgb(112,128,144,0.0);
	overflow:hidden;}

.slide {
	position: absolute;
	height: 100%;
	width: 100%;}

.slide h2 {
position: static;
	font-size: 80px;
	color: white;}


.slider p {
	position: static;
	color: white;}

.slide {
		transform: translateX(100%);
	-webkit-animation: slide 10s infinite linear;
-moz-animation: slide 10s infinite linear;
    -o-animation: slide 10s infinite linear;
    animation: slide 10s infinite linear;
}

.slide:nth-child(1) h2{
	margin-top: 50px;}

.slide:nth-child(2) {
	-webkit-animation-delay: 5s;
-moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}


	/*cair*/
@-webkit-keyframes cair { 
    0%{
        margin-top: -500px;
    }
    100%{
        margin-top: 0;
    }
}
@-moz-keyframes cair { 
    0%{
        margin-top: -500px;
    }
    100%{
        margin-top: 0;
    }
}
@-o-keyframes cair { 
    0%{
        margin-top: -500px;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes cair { 
    0%{
        margin-top: -500px;
    }
    100%{
        margin-top: 0;
    }
}
.cair{
    -webkit-animation-name: cair;
		-webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: cair;
		-moz-animation-timing-function: ease-in-out;
    -o-animation-name: cair;
		-o-animation-timing-function: ease-in-out;
	animation-name: cair;
		animation-timing-function: ease-in-out;
}
.t1{
-webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.t2{
		-webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}.t3{
		-webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}.t4{
			-webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}.t5{
			-webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
}


/*iniciar*/

@-webkit-keyframes iniciar{
		0%{ opacity: 0;
			font-family:}
		
		100%{ opacity: 1;}
}
@-moz-keyframes iniciar{
		0%{ opacity: 0;
			font-family:}
		
		100%{ opacity: 1;}
}
@-o-keyframes iniciar{
		0%{ opacity: 0;
			font-family:}
		
		100%{ opacity: 1;}
}
@keyframes iniciar{
		0%{ opacity: 0;
			font-family:}
		
		100%{ opacity: 1;}
}


.iniciar{
    -webkit-animation-name: iniciar ;
		-webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: iniciar ;
		-moz-animation-timing-function: ease-in-out;
    -o-animation-name: iniciar ;
		-o-animation-timing-function: ease-in-out;
animation-name: iniciar ;
		animation-timing-function: ease-in-out;
}


/* ==========================================================================
				HEADER
   ========================================================================== */

header{
    
		background-color: rgb(169,169,169,0.2);
		margin-bottom: 10px;
		padding: 25px 0;}

header .container img{
		width: 100px;
		height: 120px;
		border-radius: 5px;
        margin-left: 0%;}

h1{
		margin-top: 25px;
		font: 50px 'economica', sans-serif ;
		color: #fff;   
}

nav li a{
		-webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
		color: #8e8e11;}

nav li{
        margin-top: 25px;
		font: 50px 'economica', sans-serif;
		color: #fff;
		list-style: none;}

nav li a:hover{
		color: rgb(250,250,0);
		text-decoration: none;}

	nav li a[href="#con"] i{
			visibility: hidden;
			position: absolute;
		}


/* ==========================================================================
				SECTION
   ========================================================================== */
h2{
		font: 80px  'oswald', sans-serif ;
		color: #fff;
		text-align: center;
}
p{
font-family: 'Source Sans Pro', sans-serif;
text-align: justify;
color: #fff;}

.blocos{
		padding: 50px 10px 0 0px;
		height: auto;
		width: 100%;
		background-color: rgb(112,128,144,0.1);
		margin: 50px 0;
		border-radius: 10px;
		box-shadow: 2px 5px 10px rgb(112,128,144,0.6);
}

.botao{
	padding: 15px 40px;
	font: 20px 'Source Sans Pro', sans-serif;
	font-weight: bold;
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -o-transition: 0.6s linear;
	transition: 0.6s linear;
	color: #fff;
	background-color: #828282 ;
}
.botao:hover{
			color: gray;
		background-color: #fff;	}

.sub-icon{
	width: 75px;
	height: 75px;
	border: 2px solid ;
	border-radius: 360px;
	color: #323232;
	background-color: #fff;
	border-color:#323232;
	margin-left: 45%;	
    -webkit-transition: all 0.1s; 
    -moz-transition: all 0.1s; 
    -o-transition: all 0.1s; 
 transition: all 0.1s; 
}
.sub-icon:hover{
	color: #fff;
	background-color:#323232;
	transform: scale(1.5);}

.icone{
		position: absolute;
		margin-top: -80px;
		margin-left: 10px;
}
.barra{
	width: 100%;
	height: 35px;
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	text-align: right;
	background-color: rgb(855,855,0,0.2);
	margin: 5px 5px;
	border-radius: 3px;
}

.porcentagem{
		font-weight: bold;
		border-radius: 3px;
		font-family: 'economica',sans-serif;
		font-size: 25px;
		padding: 5px  5px 0 0;
		height:35px;
		background-color: rgb(855,855,0,0.7);
}
    /*porcentagem :background-color: #f8cc0c;

/*IDS -----------------------*/

#skills{
		margin-top: 130px;
		height: 700px;
}
#start{
		padding: 25px 0;
		background-color:inherit;
		box-shadow: none;
		height: auto;
	}
#start p{
		padding: 0 25px;
		font: 30px 'oswald', sans-serif;
}
#about{
	height: 420px;
}
#about p {
		padding-left: 20px;
		text-align: left;
		font-size: 22px;
		opacity: 0.8; 
		margin: 0 0 30px 30px;
}
#about p i {
		position: absolute;
		margin: 5px 0 0 -40px;
		font-size: 25px;
		color: #fff;
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
		background-color: rgb(169,169,169,0.2);/*#222222;*/
		padding: 10px 0 10px 0;

}
footer address{
				font-size:17px;
				text-decoration: underline;
				font-family: 'open sans','arial',sans-serif;
				color: rgb(255,255,255,0.6);
}
footer a{
		display: block;
}

footer i{
        -webkit-transition: 0.6s linear; 
        -moz-transition: 0.6s linear; 
        -o-transition: 0.6s linear; 
		transition: 0.6s linear;  
		color: rgb(255,255,255,0.4);
		margin: 0 7px;
}
footer i:hover{
		color:#fff;
}
footer ul li{
				display: inline-block;
		}
footer p{
		margin: -30px 0 0 0;
		font-family: 'arial';
		text-align: right;
		color: rgb(255,255,255,0.4)
}





/*-------------MEDIDAS ------------------------------*/

@media (min-width:250px) and (max-width:479px){
    iniciar{animation-duration: 1.7s;}
    .cair{animation: none;}
	
		.slide h2 {
	font-size:350%;

    }
    .slide:nth-child(2) h2{margin-top: 25px;font-size:250%;}
.slide p{
		font-size: 100%;}
    header{
         background-color: rgb(20,20,20,0.9);
    }
		header img{
            position: absolute;
            visibility: hidden; 
           
		}
		h1{
            font-size: 20px;
		}
		h2{
			margin-top: -50px;
		}
		nav li a[href="#con"]{
            position: absolute;
            visibility: hidden;
		}
        nav li a[href="#con"] i{
            position: relative;
            visibility: visible;
            margin: -45px 0 0 0;
            float: right;
		}
		nav li{
				font-size:20px;
		}
		#start p{font-size: 23px;text-align: justify;}
		
		.botao{width: 100%;
				border: none;
				background-color: rgb(112,128,144,0.3);
				height: 80px;
				margin-top: -95px;		
		}
		.icone{ left: 0;margin-left: 0;}
		.blocos{background-color:inherit;box-shadow: none;
		}
        section{background-color: rgb(50,50,50,0.5);}
		#about p{font-size: 18px; text-align: justify;}
		#about p i{font-size: 100%;}
		#skills{margin-top: 90px;height: auto;}
		
		.porcentagem{font-size: 140%;}
		
		
		.sub-icon{margin-left: 40%;}
    
   
		footer{width: 100%;text-align-last: center;background-color: rgb(20,20,20,0.9);}
		footer address{text-align: center;}
		
		footer ul li a{float: none;display: inline-block;align-items: center;font-size: 70%;}
		footer p{margin: 0;
		font-size:100%;
		text-align: center;}
}

@media (min-width:480px) and (max-width:597px){
		.iniciar{animation-duration: 1.7s;}
		.cair{animation: none;}
    
        header img{	position: absolute;visibility: hidden;}
    
        nav li a[href="#con"]{position: absolute;visibility: hidden;}
        nav li a[href="#con"] i{
		position:static;
		visibility: visible;
		font-size: 180%;
		margin: -60px 0 0 50px;;
        float: right;
		}
    
		h1{	font-size: 30px;}
    
		.slide:nth-child(2) h2{
	    margin-top: 25px;
		font-size:300%;}
        .slide p{font-size: 100%;}
    
		#skills{margin-top: 90px;height: auto;}
    
		.sub-icon{margin-left: 43%;}
		.blocos{background-color: inherit;
				box-shadow: none;}
    
		section{background-color: rgb(112,128,144,0.1);}
		
        .botao{
                width: 100%;
				border: none;
				background-color: rgb(112,128,144,0.3);
				height: 80px;
                margin-top: -95px;}
		.icone{ left: 0;margin-left: 0;}
    
		footer address{text-align: center;}
		footer{text-align-last: center;}
		footer ul li{
				float: none;
				display: inline-block;
				align-items: center;
				font-size: 150%;}
		footer p{margin: 0;font-size:100%;text-align: center;}
}

@media (min-width: 598px) and (max-width:767px) { 
        .iniciar{animation-duration: 1.7s;}
    
		header img{position: absolute;visibility: hidden;}
    
		nav li a[href="#con"]{
				position: absolute;
				visibility: hidden;
                margin: -61px 0 0 60px;}
        nav li a[href="#con"] i{
				position:static;
				visibility: visible;
				font-size: 200%;} 
    
		h1{font-size: 43px;	}
    
        section{background-color: rgb(112,128,144,0.1);}
        #skills, #about{
				margin-top: 100px;
				height: auto;}
    
        .blocos{
                background-color: inherit;
				box-shadow: none;}
    
		.sub-icon{
			    margin-left: 43%;
				font-size: 130%;
				height: 100px;
				width: 100px;}
    
		.barra, .porcentagem{
				height: 50px;
				font-size: 30px;}
    
		.porcentagem{padding: 13px  8px 0 0;}
    
		#about p{font-size: 150%;}
    
        .botao{
			    width: 100%;
				border: none;
				background-color: rgb(112,128,144,0.3);
				height: 100px;
				font-size:220%;
                margin-top: -110px;}
    
		.icone{ left: 0; margin-left: 0}
		
        footer address{
				font-size:150%;
				text-align: center;}
		footer{
				text-align-last: center;}
		footer ul li{
				float: none;
				display: inline-block;
				align-items: center;
				font-size: 150%;}
		footer p{
              margin: 0;
		      font-size:150%;
		      text-align: center;}
}


@media (min-width: 768px) and (max-width: 908px) {
		
		header img{ position: absolute;
		visibility: hidden;}
    
		nav li a[href="#con"]{
				position: absolute;
				visibility: hidden;
                margin: -50px 0 0 100px;
		}nav li a[href="#con"] i{
				position:static;
				visibility: visible;
				font-size: 200%;} 
    	section{background-color: rgb(112,128,144,0.1);}
        #skills, #about{margin-top: 100px;height: auto;}
    
        .blocos{background-color: inherit;box-shadow: none;}
    
		.sub-icon{
			    margin-left: 43%;
				font-size: 130%;
				height: 100px;
				width: 100px;}
    
		.barra, .porcentagem{height: 50px;font-size: 30px;}
    
		.porcentagem{padding: 13px  8px 0 0;}
		#about p, #about i{font-size: 170%;}
			
        .botao{
                width: 100%;
				border: none;
				background-color: rgb(112,128,144,0.3);
				height: 100px;
				font-size:220%;
                margin-top: -110px;}
		
		.icone{ 
				left: 0;
                margin-left: 0;}
				
		
		footer ul li, footer address{
				font-size: 150%;}
        footer address{
        margin-left: 25px;
        }
		footer p{
				font-size: 120%;}	
}

@media (min-width:1007.1px){
		.slide:nth-child(2) h2{margin-top: 25px;
		font-size:350%;}
        #about{height: auto;}
        .slide p{font-size: 100%;}
}


